extends ../layouts/lobby.pug

block center

    div(class="lobby-main primary-color")
        div(class="header")
            div(class="left")
                p(class="header-segment") #{user.userName}
                p(class="header-segment-separator") ->
                p(class="header-segment clickable text-hover" hx-get="/invitations/sent" hx-target=".page") Invitations
                p(class="header-segment-separator") ->
                p(class="header-segment clickable text-hover" hx-get="/invitations/sent" hx-target=".page") #{invitationsPageType}
            div(class="right")
                p(class="clickable text-hover" hx-get="/invitations/new" hx-target=".page") Send New Invite

        block subContent