.auth-container{
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 0 120px 0;
}

.register-container{
    height: 400px;
}

.login-container{
    height: 320px;
}

/* TODO take height declarations off of these containers */