.auth-container{
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 0 120px 0;
}

.register-container{
    height: 380px;
}

.login-container{
    height: 300px;
}

.auth-header{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.auth-header-label{
    font-size: 22px;
}

.auth-header-nav{
    font-size: 14px;

    text-decoration: underline;
}

.auth-header-nav:hover{
    cursor: pointer;
}


.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form .input-container{
    width: 100%;
    height: 70px;
    margin: 10px 0px 0px 0px;
}

.auth-form .input-container .auth-form-label{
    width: 100%;
    margin: 5px 0px;
}

.auth-form .input-container input{
    width: 100%;
    height: 35px;

    padding: 0px 10px;

    border-radius: 3px;
    /* border: 1px solid #3f3f46; */
    border: 1px solid #a1a1aa;
}

.auth-form .input-container input:hover{
    border: 1px solid #3f3f46;
}

.auth-form .input-container input:focus{
    border: 1px solid #3f3f46;
}

.auth-form button{
    width: 100%;
    height: 40px;

    margin: 30px 0px 0px 0px;

    border-radius: 5px;
}

.auth-form button p{
    font-size: 14px;
}

.auth-form .auth-form-error-message{
    width: 100%;
    height: 15px;
    font-size: 12px;

    text-align: center;

    margin-top: 10px;
    margin-left: 5px;
    color: #ef4444;
}