.background-color { 
    background: white;
}

.primary-color {
    background: #94a3b8;
    /* background: #cbd5e1; */
}

.secondary-color { 
    background: #cbd5e1;
}

.soft-text{
    color: #4b5563;
}




