/* 
.background-color { 
    background: white;
    background: #f1f5f9;
}

.primary-color {
    background: #94a3b8;
    background: #cbd5e1;
}

.secondary-color { 
    background: white;
    background: #f8fafc;
}

.soft-text{
    color: #4b5563;
}
*/



.primary-color{

}

.primary-variant-color{
    
}

.secondary-color{

}

.background-color{

}