@font-face{
    font-family: "RubikNormal";
    src: url("../fonts/rubik/Rubik-Regular.ttf")
}
@font-face{
    font-family: "RubikBold";
    src: url("../fonts/rubik/Rubik-Medium.ttf");
}

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.bold{
    font-family: "RubikBold", serif;
}