.site-header{
    width: 100%;
    height: 70px;

    position: absolute;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-grow: 0;

    padding: 0px 60px 0px 60px;
}

.site-header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35px;
}

.site-header-left a{
    font-family: "RubikBold";
    font-size: 18px;
    text-decoration: underline;
    padding-right: 10px;
}

/* Using p tags instead of buttons now */
/* .site-header-right button{
    width: 150px;
    height: 35px;
    
    border-radius: 5px;

    font-size: 14px;

    margin-left: 15px;
} */

.site-header-right{
    display: flex;   
}

.site-header-right p{
    font-size: 16px;
    text-decoration: underline;
    font-family: "RubikBold";

    margin-left: 20px;
}

.site-header-right button:hover{
    cursor: pointer;
}