/* Projects Index Page */
.search-bar-container{
    width: 200px;
}

.invitation{
    height: 35px;
    width: 100%;

    display: flex;
    justify-content: space-between;

}

.invitation .invitation-name{
    font-family: "RubikBold";
    text-decoration: underline;
    font-size: 14px;
}

.invitation .invitation-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.invitation .invitation-right{
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation-description{
    font-size: 13px;
}

.vertical-list-divider{
    height: 1px;
    border-bottom: 1px solid #a1a1aa;
    margin: 10px 0px;
}


.empty-inbox-img{
    height: 100px;
}


.invitations-nav{
    display: flex;

}



/* Create new invitations */
.create-invitation-form{
    width: 400px;
}