.lobby{
    display: flex;

    justify-content: space-between;
}

.lobby-sidebar{
    min-width: 400px;
    min-height: 800px;
    
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;

    border-radius: 5px;
}

.lobby-sidebar-user-info{
    height: 140px;
}

.lobby-sidebar-user-info div{
    margin-bottom: 20px;
}

.lobby-sidebar-user-info-pp{
    width: 100px;
    height: 100px;

    border-radius: 50%;

    background: black;
}

.lobby-sidebar-user-info-top{
    display: flex;
    justify-content: space-between;
}

.lobby-sidebar-user-info-top #pp-input{
    width: 200px;
}

.lobby-sidebar-mid{
    padding-top: 20px;
}

.lobby-sidebar-subheader{
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.org-bar{
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

.org-bar p{
    font-size: 12px;
}

.lobby .members-list .member{
    height: 30px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
}



#no-org-warning{
    font-size: 14px;
    margin-bottom: 10px;
}


.lobby-sidebar-section-two{
    width: 100%;
    height: 120px;
}

.lobby-sidebar-section-two form{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lobby-sidebar-section-two .button-and-message{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
}

.lobby-sidebar-section-two .submit-button-short{
    width: 100px;
}

.lobby-sidebar-section-two .add-member-message-error{
    width: 260px;
    height: 45px;
    line-height: 45px;

    text-align: center;
    font-size: 13px;
    color: #ef4444;
}

.lobby-sidebar-section-two .add-member-message-success{
    width: 260px;
    height: 45px;
    line-height: 45px;

    text-align: center;
    font-size: 13px;
    color: #006A4E;
}



/* lobby main */
.lobby-main{
    min-width: 600px;
    flex-grow: 1;

    padding: 20px;
    margin-left: 100px;

    border-radius: 5px;
}

.new-project-prompt{
    width: 400px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background: red; */
}


/* TODO clean up outdated class stylings, dont need to have 'lobby-button', this should be in buttons.css */



/*  */
.lobby-main-header{
    width: 100%;
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid black; */
}

.lobby-main-header-left{
    height: 100%;
}

.lobby-main-header-left-section{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    /* background: green; */
}

.lobby-main-header-right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lobby-main-header-right-section{
    width: 120px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 0px 10px;
    
    font-size: 14px;
    /* background: red; */
}


/*  */
.lobby-main-body{
    height: 580px;

    margin-top: 20px;

    /* background: blue; */
}

.project-dropdown{
    margin-left: 10px;
}

.project-dropdown option{
    font-size: 12px;
}


/*  */
#project-stats-chart{
    height: 100%;
    width: 100%;
}
