/* Projects Index Page */
.search-bar-container{
    width: 200px;
}

.organizations-list-container{
    width: 600px;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.organizations-list{
    width: 100%;
}

.organization{
    height: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.organization .organization-name{
    font-family: "RubikBold";
    text-decoration: underline;
    font-size: 14px;
}

.organization .organization-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.organization .organization-top .organization-org{
    font-family: "RubikBold";
    text-decoration: underline;
    font-size: 14px;
}

.organization-description{
    font-size: 13px;
}

.vertical-list-divider{
    height: 1px;
    border-bottom: 1px solid #a1a1aa;
    margin: 10px 0px;
}


/* New organization page */

.create-org-form-container{
    width: 400px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 40px 0 120px 0;
}

.create-org-form-container .form-container-header-label{
    margin-bottom: 30px;
}

.create-org-form .input-container{
    margin-bottom: 20px;
}

.org-dropdown{
    border: 1px solid #a1a1aa;
    padding-left: 5px
}

.create-org-form ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

li[id^='new-org-description']{
    margin-top: 5px;
    font-size: 13px;
}


/* Org show page */
.org-show .top-bar{
    display: flex;
    height: 14px;
}

.org .org-name{
    font-family: "RubikBold";
    text-decoration: underline;
    font-size: 14px;
}




.members-list{

}