.pagination{
    width: 250px;
    height: 40px;

    display: flex;
    justify-content: space-between;
    

    margin-top: 30px;
    /* border: 1px solid black; */
}

.pagination .pagination-left, .pagination .pagination-right{
    width: 40px;
    /* border: 1px solid red; */
}

.pagination .pagination-left button, .pagination .pagination-right button{
    font-family: "RubikBold";
    
    height: 40px;
    width: 40px;

    font-size: 16px;
    text-align: center;
    line-height: 40px;
}

.pagination .pagination-center{
    display: flex;
}

.pagination .pagination-center .page-num{
    font-family: "RubikBold";
    width: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.pagination .pagination-center .current-page-num{
    color: #006bee;
}