doctype html
html(lang="en")
    head
        link(rel="stylesheet" type="text/css" href="/css/reset.css")
        link(rel="stylesheet" type="text/css" href="/css/base.css")
        link(rel="stylesheet" type="text/css" href="/css/page.css")
        link(rel="stylesheet" type="text/css" href="/css/auth.css")
        link(rel="stylesheet" type="text/css" href="/css/colors.css")
        link(rel="stylesheet" type="text/css" href="/css/fonts.css")
    body
        block content
        script(src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous")