extends ../users/lobby.pug

block mainContent

    div(class="lobby-main primary-color outline")
        div(class="header")
            div(class="left")
                p(class="header-segment") #{user.userName}
                p(class="header-segment-separator") ->
                p(class="header-segment") Projects
            div(class="right")
                p(class="clickable text-hover" hx-get="/projects/new" hx-target=".page") New Project
        div(class="body")
            form(hx-post="/projects/search" hx-target=".projects-list-container" hx-swap="outerHTML")
                div(class="search-bar-container")
                    div(class="input-container")
                        p(class="form-label") Search
                        input.edit(type="text" name="searchTerm" placeholder="Project or org name...")

            - if(projects.length === 0)
                div(class="projects-list-container empty-projects-list")
                    p Oops! It looks like you don't have any projects!
                    p(id="create-project-link") Create one here

            - else
                div(class="projects-list-container projects-list")
                    - for(let i = 0; i < projects.length; i++)
                        - const project = projects[i];
                        
                        div(class="project")
                            p(class="project-name") #{project.name}
                            p(class="project-org") Org: #{project.organization.name}

                        - if(i < projects.length - 1)
                            div(class="vertical-list-divider")