block variables

doctype html
html(lang="en")
    head
        link(rel="stylesheet" type="text/css" href="/css/reset.css")
        link(rel="stylesheet" type="text/css" href="/css/base.css")
        link(rel="stylesheet" type="text/css" href="/css/page.css")
        link(rel="stylesheet" type="text/css" href="/css/footer.css")
        link(rel="stylesheet" type="text/css" href="/css/header.css")
        link(rel="stylesheet" type="text/css" href="/css/buttons.css")
        link(rel="stylesheet" type="text/css" href="/css/forms.css")
        link(rel="stylesheet" type="text/css" href="/css/auth.css")
        link(rel="stylesheet" type="text/css" href="/css/lobby.css")
        link(rel="stylesheet" type="text/css" href="/css/profile.css")
        link(rel="stylesheet" type="text/css" href="/css/org_creation.css")
        link(rel="stylesheet" type="text/css" href="/css/colors.css")
        link(rel="stylesheet" type="text/css" href="/css/shadows.css")
        link(rel="stylesheet" type="text/css" href="/css/fonts.css")
        
        link(rel="stylesheet" type="text/css" href="/css/projects.css")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
    body
        
        //- wrapper parent
        div(class="page background-color")

            //- header
            //- div(class="site-header soft-shadow")
            div(class="site-header outline")

                button(class="site-header-left clickable" hx-get="/auth/login" hx-target=".page")
                    p Limit Handler
                    img(src="/img/logo/clock_24.png")

                div(class="site-header-right")
                    //- button(class="secondary-color secondary-shadow" hx-get="/users/show" hx-target=".page") Dashboard
                    button(class="secondary-color secondary-shadow" hx-get="/projects" hx-target=".page") Dashboard
                    button(class="secondary-color secondary-shadow" hx-get="/users/profile" hx-target=".page") Profile
                    button(class="secondary-color secondary-shadow") Questions
                    - if(loggedOut !== true)
                        button(id="logout-button" class="secondary-color secondary-shadow" hx-post="/auth/logout" hx-target=".page") Logout

            //- Display messages to users
            div(class="message-modal") #{message}

            //- actual page content
            block content

            //- footer elements
            a(href="https://github.com/willmarino/limit-handler-api" class="site-footer-github secondary-color primary-shadow") Check out the code here :)

        script(src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous")

