extends ../layouts/main.pug

block content

    div(class="page-content")
        div(class="centered-column")
            div(class="auth-container login-container")
                div(class="form-container-header")
                    p(class="form-container-header-label") Login
                    a(class="form-container-header-nav" href="/auth/register") Sign Up Instead
                form(class="auth-form" hx-post="/auth/login" hx-target=".page")
                    div(class="input-container")
                        p(class="form-label") Email
                        input.edit(class="secondary-shadow" type="text" name="email" placeholder="Email")
                    div(class="input-container")
                        p(class="form-label") Password
                        input.edit(class="secondary-shadow" type="password" name="passwordInput" placeholder="Password")
                    button(class="submit-button secondary-color secondary-shadow clickable")
                        p Submit
                    p(class="form-error-message") #{errMessage}


