extends ../layouts/main.pug

block content

    div(class="page-content")
        div(class="centered-column")
            div(class="auth-container register-container")
                div(class="auth-header")
                    p(class="auth-header-label") Sign up
                    p(class="auth-header-nav" hx-get="/auth/login" hx-target=".page") Login Instead
                form(class="auth-form" hx-post="/auth/register" hx-target=".page")
                    div(class="input-container")
                        p(class="auth-form-label") Email
                        input.edit(class="secondary-shadow" type="text" name="email" placeholder="Email" value=email)
                    div(class="input-container")
                        p(class="auth-form-label") Username
                        input.edit(class="secondary-shadow" type="text" name="userName" placeholder="Username" value=userName)
                    div(class="input-container")
                        p(class="auth-form-label") Password
                        input.edit(class="secondary-shadow" type="password" name="passwordInput" placeholder="Password" value=passwordInput)
                    button(class="secondary-color secondary-shadow")
                        p Submit
                    p(class="auth-form-error-message") #{errMessage}


