extends ../layouts/main.pug

block content

    div(class="page-content")
        div(class="centered-column")
            div(class="auth-container")
                div(class="auth-header")
                    p Sign up
                form(class="auth-form" hx-post="/auth/register" hx-target=".page")
                    div(class="input-container")
                        p(class="auth-form-label") Email
                        input.edit(type="text" name="email" placeholder="Email" value=email)
                    div(class="input-container")
                        p(class="auth-form-label") Username
                        input.edit(type="text" name="userName" placeholder="Username" value=userName)
                    div(class="input-container")
                        p(class="auth-form-label") Password
                        input.edit(type="password" name="passwordInput" placeholder="Password" value=passwordInput)
                    button(class="slate-400")
                        p Submit
                    p(class="auth-form-error-message") #{errMessage}


