extends ../layouts/main.pug

block content

    div(class="page-content")
        div(class="scroll")
            div(class="lobby")
                //- div(class="lobby-sidebar primary-color outline")
                div(class="lobby-sidebar primary-color")
                    ul
                        li
                            p(class="clickable") Projects
                        li
                            p(class="clickable") Organizations
                        li
                            p(class="clickable") Invitations

                block mainContent