extends ../layouts/main.pug

block content

    div(class="page-content")
        div(class="scroll")
            div(class="profile")
                div(class="profile-sidebar primary-color primary-shadow")
                    div(class="primary-button secondary-color secondary-shadow clickable" hx-get="/users/profile" hx-target=".page")
                        p Profile
                    //- div(class="primary-button secondary-color secondary-shadow clickable" hx-get="/users/profile/organizations" hx-target=".page")
                    //-     p organizations
                    div(class="primary-button secondary-color secondary-shadow clickable" hx-get="/users/profile/invitations" hx-target=".page")
                        p Invitations


                block profile_main