extends ./profile.pug

block profile_main

    - const user = profileData.user;
    - const organizations = profileData.organizations;
    - const invitations = profileData.invitations;
    div(class="profile-main primary-color primary-shadow")
        div(class="header")
            p(class="bold") Invitations
        - if(invitations.length === 0)
            div(class="centered-column")
                div(class="empty-invitations")
                    p No Invitations
        - if(invitations.length > 0)
            div(class="list")
                - for(const inv of invitations)
                    div(class="invitation")
                        p(class="description") You were invited to join #{inv.org} by #{inv.sender} - Expires #{inv.expirationDate}
                        
                        - if(inv.accepted)
                            p(class="success") Accepted

                        - if(inv.expired && !inv.accepted)
                            p(class="error") Expired

                        - if(!inv.accepted && !inv.expired)
                            form(id="accept-inv-form" class="standard-form" hx-post="/invitations/accept")
                                input.edit(type="hidden" name="invitationId" value=inv.id)
                                button(class="submit-button secondary-color secondary-shadow clickable")
                                    p Accept